@media only screen and (max-width: 992px) {
    .carousel-item ul{
        list-style: none;
        margin-bottom: -120px;
        margin-left: 1px;
    }
     
    .carousel-item ul li{
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
         margin: 10px 0px;
     
     }
     .carousel-inner {
        /* padding: 120px 0px; */
        background-color: #000000;
    }
 
}