@media only screen and (max-width: 1080px) {

    .Slider{
        background-color: #000000;
        height: 320px;
    }

    
}

@media only screen and (max-width: 800px){
   

    .Slider{
        background-color: #000000;
        height: 520px;
    }

    .carousel-item img {
        visibility: hidden;
    }
     

    .carousel-item.item-1 {
        background-image: url("img/z-story/zudio\ \(6\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 700px;

    }
    .carousel-item.item-2 {
        background-image: url("img/z-story/zudio\ \(8\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 700px;

    }
    .carousel-item.item-3 {
        background-image: url("img/z-story/zudio\ \(10\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 700px;

    }
    .carousel-item.item-4 {
        background-image: url("img/z-story/zudio\ \(8\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 700px;

    }
    .carousel-item.item-5 {
        background-image: url("img/z-story/zudio\ \(11\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 700px;

    }
  
    .campaigns{
        position: absolute;
        top: 820px;
    }

}