.Slider{
    background-color: #000000;
    height: 600px;
}

.title h1{
    font-size: 52px;
    line-height: 63.4px;
    letter-spacing: 2px;
    font-weight: 500;
}

.campaigns{
   margin-bottom: 20px;
}




.footer{
    height: 40px;
    background-color: #000000;
}
.foottxt{
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
}